</div>
<!-- Javascripts -->
<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/components/amcharts/dist/amcharts/amcharts.js" type="text/javascript"></script>
<script src="/components/amcharts/dist/amcharts/serial.js" type="text/javascript"></script>
</body>
</html>