<!DOCTYPE html>
<html lang="en" ng-app="Waterspot-Admin">
<head>
    <meta charset="UTF-8">
    <title>Waterspot | Admin</title>

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>

    <!-- Bootstrap: JS is at the bottom -->
    <link rel="stylesheet" href="/js/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">

    <!-- Other Library style sheets -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/components/fullcalendar/dist/fullcalendar.min.css">


</head>
<body>
<div class="container-fluid">
    <section class="header">
        <a class="logo" href="/">
            <div id="logoWrapper" xmlns="http://www.w3.org/1999/html">
                <img id="whiteLogo" alt="Waterspot" src="/img/logo-white.png">
            </div>
        </a>
        <a href="" class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu=""></a>
    </section>
    <section class="content-wrapper">
        <div class="left-sidebar" ng-controller="CollapseCtrl">
            <nav class="left-menu" >
                <ul>
                    <li class="active"><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
                    </li>
                    <li class="parent"><a href="#" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-users" aria-hidden="true"></i>
                        Users</a>
                        <ul class="sub-menu" uib-collapse="!isCollapsed">
                            <li><a href="#">Add User</a></li>
                            <li><a href="#">Manage Users</a></li>
                        </ul>

                    </li>
                    <li><a href="#"><i class="fa fa-file-text" aria-hidden="true"></i> Contents</a></li>
                    <li><a href="#"><i class="fa fa-cloud" aria-hidden="true"></i> Services</a></li>
                    <li><a href="#"><i class="fa fa-book" aria-hidden="true"></i> Bookings</a></li>
                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> Mails</a></li>
                    <li><a href="#"><i class="fa fa-gear" aria-hidden="true"></i> Settings</a></li>
                </ul>
            </nav>
        </div>
        <div class="content-area">
            <div class="content">
                <div class="row">
                    <div class="col-xlg-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-xlg-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="panel block large-panel with-scroll booking-panel animated zoomIn" zoom-in="">
                                    <div class="panel-heading clearfix admin-block-head"><h3 class="panel-title">
                                        Bookings</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="bookings-container">
                                            <div id="calendar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xlg-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="panel block large-panel with-scroll visit-panel animated zoomIn" zoom-in="">
                                    <div class="panel-heading clearfix admin-block-head"><h3 class="panel-title">
                                        Visits</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="visit-chart-container">
                                            <div id="visit-chart" style="width: 100%; height: 400px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xlg-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-xlg-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="panel block large-panel with-scroll feed-panel animated zoomIn" zoom-in="">
                                    <div class="panel-heading clearfix admin-block-head"><h3 class="panel-title">
                                        Vendors</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="vendors-container">
                                            <div class="vendor">
                                                <div class="vendor-avatar">
                                                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jadlimcaco/128.jpg">
                                                </div>
                                                <div class="vendor-info">
                                                    <h5>Jake Marvin Alim</h5>
                                                    <h6>jakemarvin05@gmail.com</h6>
                                                </div>
                                                <div class="vendor-actions">
                                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                                                    <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="vendor">
                                                <div class="vendor-avatar">
                                                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg">
                                                </div>
                                                <div class="vendor-info">
                                                    <h5>Jilson Asis</h5>
                                                    <h6>jilsonasis@gmail.com</h6>
                                                </div>
                                                <div class="vendor-actions">
                                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                                                    <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="vendor">
                                                <div class="vendor-avatar">
                                                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/calebogden/128.jpg">
                                                </div>
                                                <div class="vendor-info">
                                                    <h5>Ardy De Guzman</h5>
                                                    <h6>ardydeguzman@gmail.com</h6>
                                                </div>
                                                <div class="vendor-actions">
                                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                                                    <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xlg-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="panel block large-panel with-scroll vendor-panel animated zoomIn"
                                     zoom-in="">
                                    <div class="panel-heading clearfix admin-block-head"><h3 class="panel-title">
                                        Members</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="vendors-container">
                                            <div class="vendor">
                                                <div class="vendor-avatar">
                                                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jadlimcaco/128.jpg">
                                                </div>
                                                <div class="vendor-info">
                                                    <h5>Jake Marvin Alim</h5>
                                                    <h6>jakemarvin05@gmail.com</h6>
                                                </div>
                                                <div class="vendor-actions">
                                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                                                    <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="vendor">
                                                <div class="vendor-avatar">
                                                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg">
                                                </div>
                                                <div class="vendor-info">
                                                    <h5>Jilson Asis</h5>
                                                    <h6>jilsonasis@gmail.com</h6>
                                                </div>
                                                <div class="vendor-actions">
                                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                                                    <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="vendor">
                                                <div class="vendor-avatar">
                                                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/calebogden/128.jpg">
                                                </div>
                                                <div class="vendor-info">
                                                    <h5>Ardy De Guzman</h5>
                                                    <h6>ardydeguzman@gmail.com</h6>
                                                </div>
                                                <div class="vendor-actions">
                                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                                                    <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="vendor">
                                                <div class="vendor-avatar">
                                                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/tomaslau/128.jpg">
                                                </div>
                                                <div class="vendor-info">
                                                    <h5>Danny Sethoew</h5>
                                                    <h6>danset@gmail.com</h6>
                                                </div>
                                                <div class="vendor-actions">
                                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                                                    <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="vendor">
                                                <div class="vendor-avatar">
                                                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/marcogomes/128.jpg">
                                                </div>
                                                <div class="vendor-info">
                                                    <h5>Hans Gerome</h5>
                                                    <h6>hage@gmail.com</h6>
                                                </div>
                                                <div class="vendor-actions">
                                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                                                    <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="vendor">
                                                <div class="vendor-avatar">
                                                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg">
                                                </div>
                                                <div class="vendor-info">
                                                    <h5>Mark John Juide</h5>
                                                    <h6>mjjuide@gmail.com</h6>
                                                </div>
                                                <div class="vendor-actions">
                                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                                                    <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- Javascripts -->
<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/components/amcharts/dist/amcharts/amcharts.js" type="text/javascript"></script>
<script src="/components/amcharts/dist/amcharts/serial.js" type="text/javascript"></script>
<script src="/components/angular/angular.min.js" type="text/javascript"></script>
<script src="/components/angular-animate/angular-animate.min.js" type="text/javascript"></script>
<script src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>


<!-- Inline Javascripts -->
<script type="text/javascript">
    // left navigation script

    var app = angular.module("Waterspot-Admin",['ngAnimate', 'ui.bootstrap']);

    app.controller('CollapseCtrl', function ($scope) {
        console.log('hey');
        $scope.isCollapsed = false;
        $scope.isCollapsedHorizontal = false;
    });
//
//    var menuClickCtr = 0;
//    $('nav.left-menu li.parent').click(
//            function (e) {
//                e.preventDefault();
//                if (menuClickCtr % 2 == 0) {
//                    $(this).children('ul.sub-menu').slideDown();
//                }
//                else {
//                    $(this).children('ul.sub-menu').slideUp();
//                }
//                menuClickCtr++;
//            }
//    );

    // dashboard calendar scripts
    var calendar = $('#calendar').fullCalendar({
        // put your options and callbacks here
        dayClick: function () {
            console.log('a day has been clicked!');
        },
        eventColor: '#00b7f1',
        events: [
//            {
//                title: 'All Day Event',
//                start: '2016-07-02'
//            },
//            {
//                title: 'Long Event',
//                start: '2016-07-07',
//                end: '2016-07-10'
//            },
            {
                title: 'Jake',
                start: '2016-07-12T10:30:00',
                end: '2016-07-12T12:30:00',
                url: 'http://waterspot.local/admin/bookings/booking_details/1167',
                color: '#ff7373'

            },
            {
                title: 'Ardy',
                start: '2016-07-12T12:00:00',
                end: '2016-07-12T16:00:00',
                url: 'http://waterspot.local/admin/bookings/booking_details/1168',
                color: '#80c780'
            },
            {
                title: 'Jilson',
                start: '2016-07-15T07:00:00',
                end: '2016-07-15T11:00:00',
                url: 'http://waterspot.local/admin/bookings/booking_details/1169',
                color: '#b0b0b0'
            }
        ]
    });
</script>
<script type="text/javascript">
    var chart;
    var chartData = [
        {
            "date": "2016-07-01",
            "visit": 20,
            "sales": 18
        },
        {
            "date": "2016-07-02",
            "visit": 75,
            "sales": 60
        },
        {
            "date": "2016-07-03",
            "visit": 15,
            "sales": 9
        },
        {
            "date": "2016-07-04",
            "visit": 75,
            "sales": 50
        },
        {
            "date": "2016-07-05",
            "visit": 158,
            "sales": 98
        },
        {
            "date": "2016-07-06",
            "visit": 57,
            "sales": 45
        },
        {
            "date": "2016-07-07",
            "visit": 107,
            "sales": 89
        },
        {
            "date": "2016-07-08",
            "visit": 89,
            "sales": 20
        },
        {
            "date": "2016-07-09",
            "visit": 75,
            "sales": 23
        },
        {
            "date": "2016-07-10",
            "visit": 132,
            "sales": 120
        },
        {
            "date": "2016-07-11",
            "visit": 158,
            "sales": 78
        },
        {
            "date": "2016-07-12",
            "visit": 56,
            "sales": 34
        },
        {
            "date": "2016-07-13",
            "visit": 169,
            "sales": 160
        },
        {
            "date": "2016-07-14",
            "visit": 24,
            "sales": 18
        },
        {
            "date": "2016-07-15",
            "visit": 147,
            "sales": 87
        }
    ];

    var average = 90.4;

    AmCharts.ready(function () {

        // SERIAL CHART
        chart = new AmCharts.AmSerialChart();

        chart.dataProvider = chartData;
        chart.categoryField = "date";
        chart.dataDateFormat = "YYYY-MM-DD";

        // AXES
        // category
        var categoryAxis = chart.categoryAxis;
        categoryAxis.parseDates = true; // as our data is date-based, we set parseDates to true
        categoryAxis.minPeriod = "DD"; // our data is daily, so we set minPeriod to DD
        categoryAxis.dashLength = 1;
        categoryAxis.gridAlpha = 0.15;
        categoryAxis.axisColor = "#DADADA";

        // value
        var valueAxis = new AmCharts.ValueAxis();
        valueAxis.axisColor = "#DADADA";
        valueAxis.dashLength = 1;
        valueAxis.logarithmic = true; // this line makes axis logarithmic
        chart.addValueAxis(valueAxis);

        // GUIDE for average
        var guide = new AmCharts.Guide();
        guide.value = average;
        guide.lineColor = "#CC0000";
        guide.dashLength = 4;
        guide.label = "average";
        guide.inside = true;
        guide.lineAlpha = 1;
        valueAxis.addGuide(guide);


        // GRAPH
        var graph = new AmCharts.AmGraph();
        graph.type = "smoothedLine";
        graph.bullet = "round";
        graph.bulletColor = "#FFFFFF";
        graph.useLineColorForBulletBorder = true;
        graph.bulletBorderAlpha = 1;
        graph.bulletBorderThickness = 1;
        graph.bulletSize = 7;
        graph.title = "Visits";
        graph.valueField = "visit";
        graph.lineThickness = 1;
        graph.lineColor = "#00BBCC";
        graph.fillAlphas = 0.3;
        chart.addGraph(graph);

        // GRAPH
        var graph = new AmCharts.AmGraph();
        graph.type = "smoothedLine";
        graph.bullet = "round";
        graph.bulletColor = "#FFFFFF";
        graph.useLineColorForBulletBorder = true;
        graph.bulletBorderAlpha = 1;
        graph.bulletBorderThickness = 1;
        graph.bulletSize = 7;
        graph.title = "Sales";
        graph.valueField = "sales";
        graph.lineThickness = 1;
        graph.lineColor = "#72cb72";
        graph.fillAlphas = 0.3;
        chart.addGraph(graph);

        // LEGEND
        var legend = new AmCharts.AmLegend();
        legend.useGraphSettings = true;
        chart.addLegend(legend);

        // CURSOR
        var chartCursor = new AmCharts.ChartCursor();
        chartCursor.cursorPosition = "mouse";
        chart.addChartCursor(chartCursor);

        // SCROLLBAR
        var chartScrollbar = new AmCharts.ChartScrollbar();
        chartScrollbar.graph = graph;
        chartScrollbar.scrollbarHeight = 30;
        chart.addChartScrollbar(chartScrollbar);

        chart.creditsPosition = "bottom-right";

        // WRITE
        chart.write("visit-chart");
    });
</script>
</body>
</html>