
<div class="clear"></div>

<div class="footer">
    <section id="footer">
        <div class="container-fluid">
            <div class="row">

                <!-- contacts block -->
                <div class="footerCol col-sm-4 col-sm-offset-1">
                    <div class="footerContactBlock">
                        <p class="footerContactSmallHeader">call us</p>

                        <p class="footerContactAfterHeader">+65 8299 2678</p>
                    </div>
                    <div class="footerContactBlock">
                        <p class="footerContactSmallHeader">send an enquiry</p>

                        <p class="footerContactAfterHeader">enquiry@waterspot.com.sg</p>
                    </div>
                    <div class="footerContactBlock">
                        <p class="footerContactSmallHeader">FOLLOW US</p>

                        <div id="footerSocialRow">
                            <a class="smIcons" href="https://www.facebook.com/waterspotllp"><img alt="facebook" src="/img/sm-icons/facebook.png"><img alt="facebook" src="/img/sm-icons/facebook.png"></a><a class="smIcons" href="https://www.instagram.com/waterspotsg"><img alt="instagram" src="/img/sm-icons/instagram.png"><img alt="instagram" src="/img/sm-icons/instagram.png"></a><a class="smIcons" href="https://twitter.com/waterspotllp"><img alt="twitter" src="/img/sm-icons/twitter.png"><img alt="twitter" src="/img/sm-icons/twitter.png"></a>                    </div>
                    </div>
                </div>

                <!-- subscribe block -->
                <div class="footerCol col-sm-4">
                    <p class="footerContactSmallHeader">SUBSCRIBE</p>
                    <!-- Begin MailChimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                        <form action="//waterspot.us11.list-manage.com/subscribe/post?u=5931912452094114bc63c4074&amp;id=750e43a4a4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <h2>Get Latest <strong>Offers</strong> & <strong>Coupons</strong> by Email:</h2>
                                <div class="mc-field-group" style="width:100%;">
                                    <!-- <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span> -->
                                    </label>
                                    <input type="email" placeholder="* Email Address" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" style="
  color: #999;
  background-color: rgba(0,0,0,.2);
  border-color: rgba(0,0,0,.25);">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5931912452094114bc63c4074_750e43a4a4" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btnFillOrange" style="width:100%; margin:0;"></div>
                            </div>
                        </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->
                </div>
            </div>
            <!-- popular block -->
            <!--<div class="footerCol col-sm-4">
                <h4 class="headerAlt">POPULAR ACTIVITIES</h4>
                <ul id="footerPopularList">
                    <li><a href="/service-type-details/39">Stand Up Paddle</a></li>
                    <li><a href="/service-type-details/27">Diving</a></li>
                    <li><a href="/service-type-details/42">Kitesurfing</a></li>
                    <li><a href="/service-type-details/41">Kayaking</a></li>
                    <li><a href="/service-type-details/26">Boat Charter</a></li>
                </ul>
            </div>-->
        </div>
    </section>

    <!-- bottommost row -->
    <section id="copyright">
        <div class="container-fluid">
            <div class="row">
                <div id="copyrightLeftCol" class="col-sm-6">
                    <p>Copyright © 2015 WaterSpot LLP. All rights reserved.</p>

                    <p><a href="/terms">Terms & Conditions</a> / <a href="privacypolicy">Privacy Policy</a>
                </div>
                <div id="paymentLogoCont" class="col-sm-6">
                    <img alt="payment gateways" src="/img/footer-payment.png">
                </div>
            </div>
        </div>
    </section>			</div>
<script>
    var frontPageActivities = activitiesBlockMaker.init($('#activitiesContainer'), [
        { title: 'wakeboarding',urlPath:'/service-type-details/wakeboarding', imagePath: '/img/activities/wakeboarding.jpg', blockSize: '2x1'},
        { title: 'diving',urlPath:'/service-type-details/diving', imagePath: '/img/activities/diving.jpg'},
        { title: 'kayaking',urlPath:'/service-type-details/kayaking', imagePath: '/img/activities/kayaking.jpg'},
        { title: 'fishing',urlPath:'/service-type-details/fishing', imagePath: '/img/activities/fishing.jpg'},
        { title: 'kitesurfing',urlPath:'/service-type-details/kiteboarding', imagePath: '/img/activities/kitesurfing.jpg'},
        { title: 'Yacht Chartering',urlPath:'/service-type-details/yacht-chartering', imagePath: '/img/activities/boatcharter.jpg', blockSize: '2x2'},
        { title: 'sailing',urlPath:'/service-type-details/sailing', imagePath: '/img/activities/sailing.jpg'},
        { title: 'Stand up Paddling',urlPath:'/service-type-details/stand-up-paddling', imagePath: '/img/activities/stand-up-paddle.jpg'}
    ]);

</script>

<script type="text/javascript">

    $(document).ready(function(){
        $('#VendorsLogin').submit(function(){

            //var data = $(this).serializeArray();
            var data = new FormData(this);
            var formData = $(this);
            var status = 0;

            $.each(this,function(i,v){
                $(v).removeClass('invalid form-error');
            });
            $('.error-message').remove();
            $('#VendorLogin > span#for_owner_cms').show();
            $('#VendorLogin > button[type=submit]').attr({'disabled':true});

            $.ajax({
                url: '/vendor_manager/vendors/validation/login',
                async: false,
                data: data,
                dataType:'json',
                type:'post',
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {

                    if(data.error==1){
                        $.each(data.errors,function(i,v){
                            $('#'+i).addClass("invalid form-error").after('<div class="error-message">'+v+'</div>');
                            $('#'+i).bind('click',function(){
                                $(this).removeClass('invalid form-error');
                                $(this).next().remove();
                            });
                        });
                    }else{
                        status = 1;
                    }

                }
            });
            if(status==0){
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('#VendorLogin > button[type=submit]').attr({'disabled':false});
                $('#VendorLogin > span#for_owner_cms').hide();
            }

            return (status===1)?true:false;

        });

        $('#VendorRegistration').submit(function(){

            //var data = $(this).serializeArray();
            var data = new FormData(this);
            var formData = $(this);
            var status = 0;

            $.each(this,function(i,v){
                $(v).removeClass('invalid form-error');
            });
            $('.error-message').remove();
            $('#VendorRegistration > span#for_owner_cms').show();
            $('#VendorRegistration > button[type=submit]').attr({'disabled':true});

            $.ajax({
                url: '/vendor_manager/vendors/validation',
                async: false,
                data: data,
                dataType:'json',
                type:'post',
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {

                    if(data.error==1){
                        $.each(data.errors,function(i,v){
                            $('#'+i).addClass("invalid form-error").after('<div class="error-message">'+v+'</div>');
                            $('#'+i).bind('click',function(){
                                $(this).removeClass('invalid form-error');
                                $(this).next().remove();
                            });
                        });
                    }else{
                        status = 1;
                    }

                }
            });
            if(status==0){
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('#VendorRegistration > button[type=submit]').attr({'disabled':false});
                $('#VendorRegistration > span#for_owner_cms').hide();
            }
            return (status===1)?true:false;

        });



    });
</script>

<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
    /*
     window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
     d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
     _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
     $.src='//v2.zopim.com/?22xiIuDbFx71G2grZvKsPLWDNEWrYeB6';z.t=+new Date;$.
     type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
     */

</script>
<!--End of Zopim Live Chat Script-->

<style type="text/css">
    /* Styling the button */
    div#livechat-compact-container {
        bottom: -100px!important;
    }

    .chat-button-holder {
        position: fixed;
        z-index: 99;
        right: 10px;
        bottom: 10px;
    }
    div#livechat-full {
        right: 0px!important;
    }
</style>
<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
    window.__lc = window.__lc || {};
    window.__lc.license = 7227401;
    (function() {
        var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
        lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    })();
</script>
<div class="chat-button-holder">
    <div data-id="VV3wwCCN_B" class="livechat_button"><a href="https://www.livechatinc.com/customer-service-software/?partner=lc_7227401&amp;utm_source=chat_button">customer service software</a></div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>