<!DOCTYPE html>
<!--[if lt IE 7 ]><html
        class="ie ie6" lang="en-US"> <![endif]--> <!--[if IE 7 ]><html
        class="ie ie7" lang="en-US"> <![endif]--> <!--[if IE 8 ]><html
        class="ie ie8" lang="en-US"> <![endif]--> <!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en-US" ng-app="waterspotApp"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- FACEBOOK -->
    <meta property="og:title" content="Waterspot">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.waterspot.com.sg">
    <meta property="og:image" content="http://www.waterspot.com.sg/img/logo-colored.png">
    <meta property="og:site_name" content="Waterspot">
    <!-- FACEBOOK -->
    <title>WaterSpot | Book Water Activities Quickly and Easily</title>
    <meta name="description" content="Water Sports Services" />
    <meta name="viewport" content="initial-scale=1">
    <meta name="keywords" content="Water Sports" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />


    <!-- Bootstrap: JS is at the bottom -->
    <link rel="stylesheet" href="/js/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.css">

    <!-- Other Library style sheets -->
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/simple-line-icons/simple-line-icons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- jQuery -->
    <script src="/js/jquery-1.11.1/jquery.min.js"></script>

    <!-- Page specific scripts required for early rendering -->
    <script src="/js/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/js/page-specifics/index.js"></script>
    <script src="/js/app.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- Page specific style sheet -->
    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" type="text/css" href="/css/flexslider.css" />
    <link rel="stylesheet" type="text/css" href="/css/jcarousel.responsive.css" />

    <link rel="stylesheet" type="text/css" href="/css/mobile.css" />

    <script type="text/javascript" src="/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="/js/jcarousel.responsive.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        $(window).load(function(){
            $('.flexslider').flexslider({
                animation: 'fade',
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });
        });
        //]]>
    </script>    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="css/ie.css"/>
    <![endif]-->
    <script type="text/javascript">
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }
    </script>

    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        /*
         window.$zopim || (function (d, s) {
         var z = $zopim = function (c) {
         z._.push(c)
         }, $ = z.s =
         d.createElement(s), e = d.getElementsByTagName(s)[0];
         z.set = function (o) {
         z.set.
         _.push(o)
         };
         z._ = [];
         z.set._ = [];
         $.async = !0;
         $.setAttribute("charset", "utf-8");
         $.src = "//v2.zopim.com/?3XpbaUCdbliNatQpLfqedXCdaaXM1Hfl";
         z.t = +new Date;
         $.
         type = "text/javascript";
         e.parentNode.insertBefore($, e)
         })(document, "script");
         */
    </script>
    <!--End of Zopim Live Chat Script-->


    <!-- Google Analytics Tracking Code -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-73133827-1', 'auto');
        ga('send', 'pageview');

    </script>


    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '875728282538653');
        fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=875728282538653&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
</head>



<style type="text/css">
    div.star-rating, div.star-rating a {
        background:url('/jQuery.Plugins/ratings/rating-water-spot.png') no-repeat 0 0px;
    }
</style>


<body>

<section id="navWrapper" class="">
    <div id="fb-root"></div>
    <form id="fb_login" style="display:none;" action="/members/fb_login" method="post">
        <input type="hidden" name="first_name" id="fb_fname">
        <input type="hidden" name="last_name" id="fb_lname">
        <input type="hidden" name="email_id" id="fb_email">
        <input type="hidden" name="phone" id="fb_phone">
        <input type="hidden" name="fb_id" id="fb_id">
    </form>
    <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {

            if (response.status === 'connected') {
                FB.api('/me?fields=id,email,name', function(response) {
                    // alert(JSON.stringify(response));
                    email = response.email;
                    first_name = response.name;
                    fb_id = response.id;
                    //this is because in fb the user can use phone number to log in
                    if (email.indexOf('@') == -1) {
                        document.getElementById('fb_phone').value = email;
                    } else {
                        document.getElementById('fb_email').value = email;
                    }
                    document.getElementById('fb_id').value = fb_id;
                    document.getElementById('fb_fname').value = first_name;
                    document.getElementById('fb_login').submit();
                });
            }
            else if (response.status === 'not_authorized') {
                // logged in facebook but not authorized
                console.log('not authorized');
            }
            else {
                // not logged in facebook
                console.log('not logged in');
            }
        }
        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        }
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1725992164290232',
                cookie     : true,  // enable cookies to allow the server to access
                                    // the session
                xfbml      : true,  // parse social plugins on this page
                version    : 'v2.4' // use version 2.2
            });
            // auto check if the user is logged in.
            // FB.getLoginStatus(function(response) {
            //   statusChangeCallback(response);
            // });

        };
        // Load the SDK asynchronously
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <a href="/">
        <div id="logoWrapper" xmlns="http://www.w3.org/1999/html">
            <img id="whiteLogo" alt="Waterspot" src="/img/logo-white.png">
            <img id="coloredLogo" alt="Waterspot" src="/img/logo-colored.png">
        </div>
    </a>
    <nav>
        <a href="/">
            <div class="navGroup">
                <div class="navButtonOuter navActive">
                    <i class="fa fa-home"></i><span class="navTextLabel">HOME</span>
                </div>
            </div>
        </a>
        <a href="/activities/">
            <div class="navGroup">
                <div class="navButtonOuter ">
                    <i class="fa fa-ship"></i><span class="navTextLabel">ACTIVITIES</span>
                </div>
            </div>
        </a>
        <div class="navGroup">
            <div class="navButtonOuter" data-toggle="popover" data-placement="bottom">
                <i class="fa fa-user"></i><span class="navTextLabel">LOGIN/SIGNUP</span>
            </div>
            <script>
                $(function () {

                    var content = '';

                    content += '<div class="popoverBlock popoverBlockActive">';
                    content += '<h3 id="popoverIAm">I am a</h3>';

                    //member-vendor toggle
                    content += '<div class="popoverCheckboxToggle btn-group" data-toggle="buttons">';
                    content += '<label id="popoverMemberLabel" class="btn btn-primary active ">';
                    content += '<input type="radio" autocomplete="off" checked>Member';
                    content += '</label>';

                    content += '<label id="popoverVendorLabel" class="btn btn-primary">';
                    content += '<input type="radio" autocomplete="off">Vendor';
                    content += '</label>';
                    content += '</div>';
                    content += '</div>';

                    // member
                    content += '<div class="popoverBlock popoverMemberBlock popoverBlockActive">';

                    content += '<h3 class="popover-title-custom popover-title-custom-first">Login</h3>';
                    content += '<div class="popoverFormBlock">';

                    //inputs
                    content += '<form action="/members/registration" name="members" id="MemberLogin" controller="members" novalidate="novalidate" class="login-form" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"/></div>';
                    content += '<input type="hidden" name="data[Member][form-name]" value="LoginForm" id="MemberForm-name"/>';
                    content += '<input name="data[Member][email_id]" class="form-control popoverInput" placeholder="Email" type="email" id="MemberEmailId"/>';
                    content += '<input name="data[Member][password]" class="form-control popoverInput" placeholder="Password" type="password" id="MemberPassword"/>';
                    content += '<button type="submit" class="btn btnDefaults btnFillOrange">Login</button>';
                    content += '</form>';

                    //or facebook login
                    content += '<div class="loginOrContainer">';
                    content += '<div class="loginLine"></div>';
                    content += '<div class="loginOr">OR</div>';
                    content += '</div>';
                    content += '<button onclick="FB.login(function(response) {statusChangeCallback(response)}, {scope: \'public_profile,email,user_friends\', return_scopes: true})" class="btnDefaults" type="button" id="loginFB">Login with <i class="fa fa-facebook-official"></i></button>';

                    content += '</div>'; // .popoverFormBlock
                    content += '</div>'; // .popoverBlock


                    content += '<div class="popoverBlock popoverMemberBlock popoverBlockActive">';

                    content += '<h3 class="popover-title-custom">New To Our Website?</h3>';
                    content += '<a href="/members/registration" style="color:#FFF; text-decoration:none;"><button class="btnDefaults btnFillOrange" type="button" id="createMember">Create account</button></a>';

                    content += '</div>';

                    // vendor
                    content += '<div class="popoverBlock popoverVendorBlock">';
                    content += '<h3 class="popover-title-custom popover-title-custom-first">Login</h3>';
                    content += '<div class="popoverFormBlock">';

                    //inputs
                    content += '<form action="/vendors/registration" name="vendors" id="VendorsLogin" controller="vendors" novalidate="novalidate" class="login-form" enctype="multipart/form-data" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"/></div>';
                    content += '<input type="hidden" name="data[Vendor][form-name]" value="LoginForm" id="VendorForm-name"/>';
                    content += '<input name="data[Vendor][emailid]" class="form-control popoverInput" placeholder="Email" type="email" id="VendorEmailid"/>';
                    content += '';
                    // content += '<input class="form-control popoverInput" name="data[Vendor][emailid]" placeholder="Email" type="email">';
                    content += '<input class="form-control popoverInput" name="data[Vendor][pass]" placeholder="Password" type="password">';
                    content += '<button type="submit" class="btn btnDefaults btnFillOrange">Login</button>';
                    content += '</form>';

                    content += '</div>'; // .popoverFormBlock
                    content += '</div>'; // .popoverBlock

                    content += '<div class="popoverBlock popoverVendorBlock">';
                    content += '<h3 class="popover-title-custom">New To Our Website?</h3>';
                    content += '<p class="popoverVendorOnly">Create a vendor account to start listing on our site:</p>';
                    content += '<a href="/vendors/registration" style="color:#FFF; text-decoration:none;"><button class="btnDefaults btnFillOrange popoverVendorOnly" type="button" id="listWithUs">List With Us!</button></a>';

                    content += '</div>';


                    var $loginPopover = $('[data-toggle="popover"]').popover({
                        html: true,
                        content: content,
                        viewport: { selector: 'body', padding: 10 }
                    });

                    $loginPopover.on('shown.bs.popover', function() {

                        $('#popoverMemberLabel').off('click.velocity');
                        $('#popoverVendorLabel').off('click.velocity');

                        $('#popoverMemberLabel').on('click.velocity', function() {
                            $('.popoverVendorBlock').velocity('transition.slideRightOut', 200, function(el) {
                                $(el).removeClass('popoverBlockActive');
                                $('.popoverMemberBlock').velocity('transition.slideLeftIn', 200);
                            });

                        });
                        $('#popoverVendorLabel').on('click.velocity', function() {
                            $('.popoverMemberBlock').velocity('transition.slideRightOut', 200, function() {
                                $('.popoverVendorBlock').velocity('transition.slideLeftIn', 200);
                            });

                        });

                    });

                });


            </script>
        </div>
    </nav>
</section>

<section id="splashVideoCont">
    <div id="splashVideoCropper">
        <video autoplay loop muted poster="img/splash-statics/slide1.jpg">
            <source src="media/HomePage.webmsd.webm" type="video/mp4">
            <img src="img/splash-statics/slide1.jpg">
        </video>
        <img src="img/splash-statics/slide1.jpg">
    </div>
    <div id="videoOverlayWrapper">
        <div id="searchOuterWrapper">
            <div id="searchWrapper">
                <form id="search" method="get" action="/search/index">
                    <div id="searchContainer">
                        <div id="searchBackground"></div>

                        <div class="searchInline" id="activityListWrap">
                            <select name="activity" class="selectpicker" title="What activity are you game for?" data-selected-text-format="count>2">
                                <option value='41'>Kayaking is fun</option><option value='44'>Sailing</option><option value='43'>Windsurfing</option><option value='39'>Stand Up Paddling</option><option value='27'>Diving</option><option value='32'>Wakeboarding</option><option value='25'>Fishing</option><option value='26'>Yacht Chartering</option>                                </select>


                            <script>
                                // init the selectpicker
                                $('.selectpicker').selectpicker();

                                // bind selection to toggling of text colors on the select
                                // so that the placeholder color is maintained
                                $(function() {
                                    var $filterOption = $('#activityListWrap .filter-option');
                                    var selectPlaceholder = $('#activityListWrap select').attr('title');

                                    $('ul.dropdown-menu>li>a').on('click', function() {
                                        setTimeout(function() {
                                            if ($filterOption.html() === selectPlaceholder) $filterOption.css('color', '#ccc');
                                            else $filterOption.css('color', '#606060');
                                        },0);
                                    });

                                });

                            </script>
                            <script type="text/javascript">
                                $(document).ready(function(){

                                    $('form#search').submit(function(e){
                                                e.preventDefault();
                                                var form = $(this);
                                                var data = form.serializeArray();
                                                var date = new Date(data[1].value);
                                                var dateStamp = date.getTime() / 1000;
                                                var serviceId = data[0].value;
                                                var url = form.attr('action');
                                                console.log(url);
                                                url+='/'+serviceId+'/'+dateStamp;
                                                console.log(url);
                                                window.location.href=url;
                                            }
                                    );
                                });
                            </script>

                        </div>

                        <div class="searchInline">
                            <input id="searchDate" name="date" type='text' class="form-control" placeholder="On which date?">

                            <script>
                                $(function () {
                                    $('#searchDate').datetimepicker({
                                        format: 'DD-MMM-YYYY',
                                        minDate: new Date
                                    }).on('dp.hide', function() {
                                        $(this).blur();
                                    }).on('keydown', function(e) {
                                        e.preventDefault();
                                    });
                                });
                            </script>

                        </div>

                        <div class="searchInline">
                            <button id="startYourAdventure" class="btn btnDefaults btnFillOrange" type="submit">BOOK A SPOT</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>