.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus  {outline: none;}
.slides, .flex-control-nav, .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 
.flexslider {margin:0 auto; padding: 0; position:relative; background:url(../img/ajax-loader.gif) no-repeat center center; min-height:400px;}
.flexslider .slides > li {	display: none; -webkit-backface-visibility: hidden; position:relative;}
.flexslider .slides img {	width: 100%; display: block;}
.flex-pauseplay span {	text-transform: capitalize;}
.slides:after {	content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {	display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider { position: relative; zoom: 1; z-index:0; overflow:hidden;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {	zoom: 1;}
.carousel li {margin-right: 5px}
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {cursor: pointer; display: block; height: 70px; margin: -68px 0 0; opacity: 1; overflow: hidden;
position: absolute; top: 50%; transition: all 0.3s ease 0s; width: 43px; z-index: 10;}
.flex-direction-nav .flex-next {background: url("../img/banner-arrow-right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); right: 15px; text-indent: 999999px;}
.flex-direction-nav .flex-prev {background: url("../img/banner-arrow-left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); left: 15px; text-indent: 999999px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
.flex-control-nav {bottom: 10px; left:10px; margin: 0 auto;  position: absolute; text-align: left; z-index: 9999;}
.flex-control-nav li {margin: 0 8px 0 0; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width:18px; height:18px; display: block; /*background:url(../img/banner-bullets.png) no-repeat;*/ cursor: pointer; text-indent:9999px;}
.flex-control-paging li a:hover {/*background:url(../img/banner-bullet-active.png) no-repeat;*/}
.flexslider ol{ display:block; overflow-x:hidden;}
.flex-control-paging li a.flex-active { cursor:pointer; text-indent:-999px; /*background:url(../img/banner-bullet-active.png) no-repeat;*/}
.flexslider .slides p.flex-caption { bottom:-10px; color: #FFFFFF; font-size: 23px; line-height:60px; margin-left:0px; position: absolute; text-align:left; width:100%; padding-left:10px;text-transform:uppercase;}
.flexslider .slides p span {color: #00b96d;}

@media only screen and (max-width: 985px){
.banner{width: 1000px;}
.flexslider .slides img{ height: 400px; width: 1000px;}	
}