/*************************
 * FONTS
 *************************/

/* Lato */

/* latin-ext */
@charset "utf-8";

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato-Regular-LatinExt.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato-Bold-LatinExt.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato-Bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Crete Round */

/* latin-ext */
@font-face {
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    src: local('Crete Round'), local('CreteRound-Regular'), url(../fonts/Crete-Round-Regular-LatinExt.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    src: local('Crete Round'), local('CreteRound-Regular'), url(../fonts/Crete-Round-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
    font-family: 'Crete Round';
    font-style: italic;
    font-weight: 400;
    src: local('Crete Round Italic'), local('CreteRound-Italic'), url(../fonts/Crete-Round-Italic.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Arca Majora */
@font-face {
    font-family: 'Arca Majora';
    src: url('../fonts/Arca-heavy-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*************************
 * GLOBAL STYLES
 *************************/

body {
    color: #606060; /* default dark font color */
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4 {
    font-weight: 700;
}
h1 {
    font-size: 29px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 19px;
}
h1.headerAlt, h2.headerAlt, h3.headerAlt {
    font-family: 'Arca Majora';
    letter-spacing: 1px;
}
a {
    color: #005793; /* default dark blue */
    text-decoration: none;
}
a:focus, a:hover {
    color: #F79826; /* default light blue */
    text-decoration: none;
}

.middle-area.listing-body {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

/* selection*/
::selection { color: #fff; background: #ff9700; } /* default orange color */
::-moz-selection { color: #fff; background: #ff9700; }
::-webkit-selection { color: #fff; background: #ff9700; }

/* placeholder color */
::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc !important;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc !important;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ccc !important;
}

/* remove bootstrap select blue outlines */
button:focus, button:active, input:focus, input:active {
    outline: none !important;
}
.form-control:focus {
    border: 1px solid #ff9700;
    -webkit-box-shadow: inset 0 0px;
    box-shadow: inset 0 0px;
}

/* buttons */
.btn:hover {
    cursor: pointer;
}
.btnDefaults  {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: 0;
    white-space: nowrap;
    padding: 0 22px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    border-radius: 3px;
    border-bottom: 3px solid rgba(0,0,0,.15);
}
.btnFillOrange {
    background-color: #ff9700;
    text-transform: uppercase;
}
.btnFillOrange:hover {
    color: #fff;
    background-color: #fda424;
}
.btnFillOrange:active, .btnFillOrange:focus {
    color: #fff;
}

/* other generic utilities classes */

/* vertical alignment */
.verticalAlignTable {
    display: table;
    height: 100%; width: 100%;
}
.verticalAlignCell {
    display: table-cell;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .topResponsivePadding {
        padding-top: 52px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .topResponsivePadding {
        padding-top: 93px;
    }
}
@media (max-width: 480px) {
    .topResponsivePadding {
        padding-top: 85px;
    }
}


/* NAVIGATION */
#navWrapper {
    position: fixed;
    width: 100%;
    top: 0px; left: 0px;
    z-index: 800;
    padding-bottom: 5px;
    color: #fff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
#navWrapper:active {
    opacity: 1;
}
/* full format navigation >768px */
@media (min-width: 768px) {
    #logoWrapper, #navWrapper nav {
        display: inline-block;
        vertical-align: middle;
    }
    /* floats necessary due to bugs arising from window resizing */
    #navWrapper nav {
        float: right;
    }
    #logoWrapper {
        float: left;
    }
}
/* 2 row format <= 767px */
@media (max-width: 767px) {
    #logoWrapper, #navWrapper nav {
        display: block;
        margin: auto;
    }
    #navWrapper nav {
        text-align: center;
        margin-top: 10px;
    }
}

/* navigation font-size and padding */
@media (min-width: 768px) {
    #navWrapper {
        padding-top: 26px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    #navWrapper {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #navWrapper nav {
        font-size: 13px;
    }
}
@media (max-width: 480px) {
    #navWrapper {
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    #navWrapper nav {
        font-size: 9px;
    }
}



#logoWrapper {
    width: 150px;
    position: relative;
}
#logoWrapper img {
    width: 100%;
    height: auto;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
#coloredLogo {
    position: absolute;
    top: 0px; left: 0px;
    opacity: 0;
}
#logoWrapper:hover > #whiteLogo {
    opacity: 0;
}
#logoWrapper:hover > #coloredLogo {
    opacity: 1;
}

.navGroup {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.navButtonOuter {
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    border: 1px solid transparent;
    cursor: pointer;
    color: #fff;
}
@media (min-width: 768px) {
    .navButtonOuter {
        padding: 10px 17px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .navButtonOuter {
        padding: 6px 4px;
    }
}
@media (max-width: 480px) {
    .navButtonOuter {
        padding: 4px 2px;
    }
    .contenthover .short-desc {
        display: none;
    }

    .contenthover .view-description {
        margin: 29% auto;
    }
    .contenthover .view-all-tags {
        margin: 29% auto;
    }
}

/* font color inherit from navButtonOuter */
.navButtonOuter a, .navButtonOuter .btn-default {
    color: inherit !important;
    font-size: inherit !important;
}

/* to override bootstrap button's default styles */
.navButtonOuter.dropdown button {
    line-height: 1;
    margin-top: -3px;
}
.navButtonOuter.dropdown button:active, .navButtonOuter.dropdown button:hover, .navButtonOuter.dropdown button:focus {
    color: inherit !important;
}
/* navActive and hover states in uncollapsed */
.navActive, .navButtonOuter:hover, .navButtonOuter:focus, .navButtonOuter:active {
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 2px;
    color: #fff;
}

/* font color when collapsed */
.stickyCollapsed .navButtonOuter {
    text-shadow: 0px 0px 0px;
    color: #606060;
}

/* navActive and hover states in collapsed */
.stickyCollapsed .navActive, .stickyCollapsed .navButtonOuter:hover, .navButtonOuter:focus {
    border-color: #ff9700;
    color: #ff9700;
}

/* nav dropdown styles */
.navButtonOuter.dropdown .btn-default {
    padding: 0;
    text-transform: uppercase;
    border: 0px !important;
    background: transparent!important;
}

.open>.dropdown-toggle.btn-default{
    background-color: #fff;
    color: #FF9700;
    border: 1px solid  #FF9700;

}

.open>.dropdown-menu li a {
    padding: 5px 20px 6px;
    border-bottom: solid 1px #ccc;
}


.open>.dropdown-menu li:last-child a {
    border: none;
}

ul.dropdown-menu ul {
    padding: 0px 0px 10px 0px;
    margin: 0;
    border-bottom: solid 1px #D1D1D1;
}

ul.dropdown-menu ul li {
    display: block;
    padding: 0;
}

ul.dropdown-menu ul li a {
    display: block;
    padding: 6px 0px 0px 20px !important;
    border: none!important;
}

ul.dropdown-menu ul li a:before {
    content: "\f105";
    font-family: "FontAwesome";
    display: block;
    float: left;
    margin-right: 8px;
    color: #B3B3B3;
}


/* when not in home, all the rest of the nav bars should be thin */
.stickyCollapsedFix {
    background-color: #fff;
    padding-top: 5px !important;
}
.stickyCollapsedFix .navButtonOuter {
    text-shadow: 0px 0px 0px!important;
    color: #606060;
}
.stickyCollapsedFix .navActive, .stickyCollapsedFix .navButtonOuter:hover, .navButtonOuter:focus {
    border-color: #ff9700!important;;
    color: #ff9700!important;;
}
.stickyCollapsedFix .navButtonOuter.navActive, .stickyCollapsedFix .navButtonOuter:hover, .stickyCollapsedFix .navButtonOuter:active, .stickyCollapsedFix .navButtonOuter:focus {
    color: #ff9700!important;
}
.stickyCollapsedFix  img#whiteLogo{
    opacity: 0!important;
}
.stickyCollapsedFix img#coloredLogo {
    opacity: 1!important;
}

.navTextLabel {
    margin-left: 7px;
}
.navGroup .popover {
    color: #606060;
    min-width: 300px;
    text-align: center;
}
.navGroup .popover-content {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 450px;
    min-height: 450px;
}
.navGroup #popoverIAm {
    margin: 6px 10px 0px 0px;
    display: inline-block;
    vertical-align: middle;
}
.popoverCheckboxToggle {
    margin-top: 5px;
}
.navGroup .popoverBlock {
    margin-bottom: 26px;
    display: none;
}
.navGroup .popoverBlockActive {
    display: block;
}
.navGroup .popover-title-custom {
    padding: 8px 14px;
    margin: 0px -14px 0px; /* reverse the parent's wrapping */
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}
.navGroup .popover-title-custom-first {
    margin-top: -8px!important; /* reverse the parent's wrapping */
}

/* login */
.popoverFormBlock button, .popoverBlock button {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.popoverInput {
    margin-top: 5px;
}
.loginOrContainer {
    position: relative;
    width: 100%;
    text-align: center;
}

.loginLine {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid #ccc;
}
.loginOr {
    margin: auto;
    background-color: #fff;
    display: inline-block;
    position: relative;
    padding: 5px;
}

#loginFB {
    background-color: #3B5998;
}
#loginFB:hover {
    background-color: #5e76a6;
}


/* FOOTER */
#footer {
    background-color: #222;
    color: #eee;
}
@media (min-width: 768px) {
    #footer {
        padding: 30px 20px;
    }
}
@media (max-width: 767px) {
    #footer {
        padding: 0px 20px 30px 20px;
    }
    #footer .row {
        text-align: center;
        max-width: 400px;
        margin: auto;
    }
}
#footer h4 {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 10px;
}
#footer h4, .footerContactSmallHeader, .footerContactAfterHeader {
    color: #ccc;
}
.footerCol {
    word-wrap: break-word;
}
@media (min-width: 768px) {
    .footerCol {
        padding-left: 20px; padding-right: 20px;
        margin-top: 25px;
    }
}
@media (max-width: 767px) {
    .footerCol {
        padding-left: 0px; padding-right: 0px;
        margin-top: 50px;
    }
}

a.smIcons {
    overflow: hidden;
    height: 40px;
    -webkit-transition: all linear 200ms;
    -moz-transition: all linear 200ms;
    -o-transition: all linear 200ms;
    transition: all linear 200ms;
    display: inline-block;
}
a.smIcons img {
    border: none;
    display: block;
    height: 40px; width: auto;
}
a.smIcons img:first-child {
    margin-top: 0;
    -webkit-transition: all linear 200ms;
    -moz-transition: all linear 200ms;
    -o-transition: all linear 200ms;
    transition: all linear 200ms;
}
a.smIcons:hover img:first-child {
    margin-top: -40px;
}

/* contact block */
.footerContactBlock {
    margin-bottom: 25px;
}
.footerContactBlock p {
    margin: 0px;
}
.footerContactSmallHeader {
    text-transform: uppercase;
    color: #888;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 200;
}
.footerContactAfterHeader {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}
#footerSocialRow {
    margin-top: 10px;
    line-height: 45px;
}
#footerSocialRow a {
    margin-right: 10px;
}

/* subscribe block */
#footerBeforeEmailInput {
    margin-top: 30px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
.input-group-addon {
    color: #999;
    background-color: rgba(0,0,0,.35);
    border-color: rgba(0,0,0,.25);
}
#subscribeInput {
    color: #999;
    background-color: rgba(0,0,0,.2);
    border-color: rgba(0,0,0,.25);
}

/* Popular block */
#footerPopularList {
    list-style-image: url(../img/bullet-arrow.png);
    margin-top: 25px;
    max-width: 220px;
    text-align: left;
}
@media (max-width: 767px) {
    #footerPopularList {
        margin: auto;
    }
}

#footerPopularList a {
    color: #ccc;
    vertical-align: top;
}
#footerPopularList a:hover {
    color: #aaa;
}

/* COPYRIGHT */
#copyright {
    background-color: #1d1d1d;
    color: #595959;
    padding: 20px 40px 40px;
}
@media (max-width: 767px) {
    #copyright {
        text-align: center;
    }
}
#copyrightLeftCol a {
    color: #595959;
    display: inline-block;
    margin: 0 3px;
    border-bottom: 1px dotted #595959;
}
#copyrightLeftCol a:hover, #copyrightLeftCol a:focus {
    color: #aaa;
    border-bottom: 1px solid  #aaa;
}

#paymentLogoCont {
    text-align: right;
}
@media (max-width: 767px) {
    #paymentLogoCont {
        text-align: center;
    }
}
#paymentLogoCont img {
    width: 250px;
    height: auto;
    display: inline-block;
    padding-top: 0px;
}

/* Make sure the select tag is hidden */
select.selectpicker.bs-select-hidden {
    display: none !important;
}

/* TODO: remove this */
.container{
    max-width: 1024px;
}
.wrapper .container-fluid {
    max-width: 1024px;
}





/* wrapper's h2 font size */
div.wrapper h2{
    color: #606060;
}
@media (min-width: 1024px) {
    div.wrapper h2 {
        font-size: 24pt;
    }
}
@media (min-width: 640px) and (max-width: 1023px) {
    div.wrapper h2 {
        font-size: 18pt;
    }
}
@media (min-width: 480px) and (max-width: 639px) {
    div.wrapper h2 {
        font-size: 14pt;
    }
}
@media (max-width: 479px) {
    div.wrapper h2 {
        font-size: 12pt;
    }
}

div.wrapper h3 {
    font-family: 'Arca Majora', sans-serif;
}
div.wrapper {
    color: #606060;
    line-height: 10pt;
    background-color: #f5f5f5;
    position: relative;
}

/* Restyle Date Picker */
.ui-datepicker {
    border-radius: 0px !important;;
    border-color: #cccccc !important;
    font-family: "Lato" !important;
    font-size: 12pt !important;
    width: 100% !important;
    color: #595959 !important;
    text-align: center!important;
}

.ui-datepicker .ui-datepicker-header {
    border: none !important;
    background: none !important;
}

.ui-widget-header .ui-datepicker-prev .ui-icon {
    background-image: url("../img/arrow-left-fade.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-left: -5px;
}
.ui-widget-header .ui-datepicker-next .ui-icon {
    background-image: url("../img/arrow-right-fade.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-left: -6px;
}

.ui-widget-content .ui-state-hover {
    background: #ccc!important;
    border:none!important;

}

.ui-widget-content .ui-state-default{
    text-align: center;
    background: none!important;
    border: none!important;
    padding: 6px 0px;
    font-size: 13px;
}

.ui-widget-content .ui-state-default.ui-state-active{
    background: #f69431!important;
    color: #fff!important;
    border-radius: 5px;
}

ul.dropdown-menu{
    color: rgb(96, 96, 96)!important;;
    padding-bottom: 0px;
    overflow: hidden;
}

.filter select {
    display: none;
}
.filter .btn {
    border: 1px solid #ff9700;
    border-radius: 0px;
}
.filter .btn:hover, .filter .open .btn {
    background: #fff;
    border: 1px solid #ff9700;
}
.btn-default, .btn-default:focus{
    color:#ccc;
    background: #fff;

}

.activities-page header, .vendors-page header{
    text-align: center;
}
.activities-page .page-header, .page-header  {
    background-color: #fff;
    padding: 40px;
    margin: 0;
}
.vendors-page .page-header {
    background-color: #fff;
    padding: 0px;
    margin: 0;
}
.activities-page .page-header h1, .vendors-page .page-header h1 {
    text-align:center;
    display:block;
    width:100%;
    margin: 0px auto 30px auto;
}
.activities-listing, .vendorwise-listing {
    padding-bottom: 15px;
    /* min-height: 370px; */
}
.activities-listing .tile{
    overflow: hidden;
    background-color: #FFF;
    border: solid 1px #EEE;
    position: relative;
}
.activities-listing .tile img {
    width: 100%;
    position: relative;
}

.activities-listing .tile .price, .vendorwise-listing .tile .price {
    position: absolute;
    top: 60%;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.69);
    padding: 14px;
    font-family: "Lato";
}
/* vendors listings */

.vendor-listing {
    padding-bottom: 15px;
}
.vendor-listing .tile{
    overflow: hidden;
    background-color: #FFF;
    border: solid 1px #EEE;
    position: relative;
}
.vendor-listing .tile img {
    width: 100%;

}
.vendors-page .row {
    padding: 15px;
}
.vendor-listing .tile .price {
    position: absolute;
    top: 60%;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.69);
    padding: 14px;
    font-family: "Lato";
}

.vendor-listing .tile-info h4 {
    font-weight: normal;
    color: #696B6E;
    font-size: 16px;
    float: left;
    font-family: "Arca Majora";
}

.activities-page .middle-area {
    background-color: #F9F9F9;
}
.vendors-page .middle-area {
    background-color: #F9F9F9;
    padding-top: 30px;
}
.tile-info .vendor-rating-wrapper {
    float: right;
    width: 45%;
}

.tile-info .vendor-rating-wrapper .rating-label {
    margin-top: 12px;
    display: block;
    float: left;
    font-size: 16px;
    color: #969696;
}

.contenthover .short-desc {
    color: #fff;
    font-weight: normal;
    font-family: "Lato";
    font-size: 12px;
    line-height: 20px;
    display: block;
    padding: 10px 20px;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    white-space: normal;
    margin-bottom: 10px;
}
.contenthover .view-description,.contenthover .view-all-tags{
    display:block;
    background-color: #F79E34;
    color: #fff;
    max-width: 180px;
    text-transform: uppercase;
    font-size: 14pt;
    padding: 18px;
    margin-left: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.29);
    margin-right: 30px;
}
.vendorwise-listing .contenthover .view-description{
    display:block;
    background-color: #F79E34;
    color: #fff;
    max-width: 180px;
    text-transform: uppercase;
    font-size: 14pt;
    padding: 10px;
    margin-left: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.29);
}

.contenthover .view-all-tags{
    max-width: 250px;
}
.ch_hover {
    background-color: rgba(0, 0, 0, 0.71)!important;
}
button#loader_pagination {
    background-color: #F7941E;
    max-width: 211px;
    width: 100%;
    display: inline-block;    position: relative;    cursor: pointer;    outline: 0;    white-space: nowrap;    margin: 5px;    padding: 0 22px;    font-size: 14px;    height: 40px;    line-height: 40px;    color: #FFF;    font-weight: 700;    letter-spacing: 1px;    border: none;    text-shadow: 1px 1px 1px rgba(0,0,0,.2);    border-radius: 3px;    border-bottom: 3px solid rgba(0,0,0,.15);
    text-transform: uppercase;
}
.activities .no-record {
    padding: 20px;
}
.load-more-listings {
    clear: both;
}
.ch_element.ch_wrapper {
    /* min-height: 295px; */
}
.ch_hover {
    min-height: 330px;
}
.contenthover .activity-tags span {
    display: block;
    /* margin-right: 6px; */
    background-color: rgba(0, 0, 0, 0.36);
    padding: 4px;
    font-size: 12px;
    /* max-width: 47%; */
    border-radius: 4px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.42);
    /* float: left; */
    line-height: 22px;
}

.contenthover .activity-tags span:first-child {
    margin-top: 0;
}

.contenthover .activity-tags span a {
    color: #D8D8D8;
}

.activity-tags {
    padding: 5px;
    text-align: center;
}

.contenthover .activity-tags span:hover {
    background-color: rgba(0, 0, 0, 0.68);
}

input#loginButton:hover {
    background-color: #fda424;
}

a#shareFB {
    text-indent: -9999px;
    display: block;
    background: url('../img/facebook-icon.png') no-repeat center;
    width: 25px;
    height: 25px;
}

.socialicons {
    float: left;
    margin: 6px 0px 0px 7px;
}

div#share.blocks h4 {
    float: left;
}




.vendorwise-listing.col-sm-4.col-xs-12 {
    padding: 0 15px 15px 15px;
}

.listing-boxes.row {
    padding: 15px;
}

.search-listing {
    padding: 0;
}

.error-message {
    border: 1px solid #f00;
    margin: 10px 0px;
    border-radius: 3px;
    font-size: 12px;
    padding: 1px 7px;
    background-color: #F98686;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(255, 0, 0, 0.7);
    display: inline-block;
}

.vendor-rating-wrapper em {
    display: none!important;
}

.notification .close {
    margin: 4px;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    background-color: #fff;
    padding: 0px;
    text-align: center;
}

.notification .close i.fa {
    font-size: 16px;
}

h4.h4.fix {
    width: 55%;

}
.load-more-row {
    text-align: center;
}

section#navWrapper div.navButtonOuter ul.dropdown-menu a {
    color: #606060;
}

body{
    font-size: 12px;
}
.btnFillGrey {
    background-color: #CAC9C9;
}

.spacer{
    width: 100%;
    clear: both;
    height: 50px;
}
form .form-row {
    margin: 15px 0px;
}
.popoverFormBlock form [type=submit] {
    margin-top: 6px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
}

/* Style for the padding of the newsletter form on the bottom of the page */
#mc_embed_signup form {
    padding: 0!important;
}